
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OLIS</title>
</head>
<body>
    <div>
        Welcome!
    </div>
</body>
</html>

